[Unit]
Description=Hak5 C2 server
After=network.target syslog.target

[Service]
Type=simple
EnvironmentFile=/etc/hak5/c2-proxy.cfg
ExecStart=/usr/bin/c2-server -hostname $HOSTNAME -db $DB_PATH -listenip $LISTEN_IP -listenport $LISTEN_PORT -sshport $SSH_PORT -reverseProxy -reverseProxyPort $REVERSE_PROXY_PORT
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
