Package: hak5-c2-server
Version: 3.2.0
Depends: systemd
Section: utils
Priority: optional
Architecture: all
Maintainer: <https://hak5.org/>
Description: Cloud C² makes it easy for pentesters and security teams to deploy and manage Hak5 gear from the cloud.
